@import 'vars';
@import 'mixins';

.contacts {
  &__container {
    display: grid;
    grid-template-columns: 1fr;

    @include on-tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include on-desktop {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &-info {
      width: 237px;
      margin: 0 auto;
      max-width: 100%;
      &-1 {
        text-align: center;
      }

      &-2 {
        text-align: center;

        @include on-tablet {
          order: 1;
        }

        @include on-desktop {
          order: 0;
        }
      }
    }
  }

  &__form {
    margin: 0 auto;

    width: 280px;
    height: 376px;

    @include on-desktop {
      width: 411px;
    }
    &-item {
      margin-bottom: 16px;
      background-color: #f8f8fa;
      border: none;
    }
    &-text {
      width: 280px;
      height: 48px;

      @include on-desktop {
        width: 411px;
      }
    }
    &-email {
      width: 280px;
      height: 48px;

      @include on-desktop {
        width: 411px;
      }
    }
    &-message {
      width: 280px;
      height: 144px;
      align-items: self-start;

      @include on-desktop {
        width: 411px;
      }
    }
    &-button {
      background-color: #d12d35;
      color: $mainColor;
      border: none;
      width: 280px;
      height: 56px;

      @include on-desktop {
        width: 411px;
      }
      &:hover {
        background-color: #ae1c23;
        cursor: pointer;
      }
      &:active {
        background-color: #eb343d;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $secondaryColor;
  }
  &__section-title {
    text-align: center;

    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: $secondaryColor;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
    }
  }
}
