@import 'vars';
@import 'mixins';

.gallery {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  &__section-title {
    text-align: center;

    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: $secondaryColor;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
    }

    &-gallery {
      margin-bottom: 5px;

      @include on-tablet {
        margin-bottom: 10px;
      }
    }
  }
  &__description {
    font-weight: 400;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }
  &__art-1 {
    &-image-1 {
      max-width: 130px;
      height: 130px;

      @include on-tablet {
        max-width: 392px;
        height: 186px;
      }

      @include on-desktop {
        height: 320px;
        max-width: 672px;
      }
    }
    &-image-2 {
      max-width: 130px;
      height: 130px;

      @include on-tablet {
        height: 186px;
        max-width: 184px;
      }

      @include on-desktop {
        height: 320px;
        max-width: 320px;
      }
    }
    &-info {
      color: $extraColor;
      font-weight: bold;
    }
  }
  &__art-2 {
    &-image {
      height: 88px;
      width: 88px;

      @include on-tablet {
        height: 288px;
        width: 288px;
      }

      @include on-desktop {
        height: 320px;
        width: 320px;
      }
    }
    &-image-3 {
      @include on-tablet {
        visibility: hidden;
        width: 1px;
        height: 1px;
      }

      @include on-desktop {
        visibility: visible;
        height: 320px;
        width: 320px;
      }
    }

    &-info {
      color: $extraColor;
      font-weight: bold;
    }
  }

  &__art-3 {
    &-image {
      height: 130px;
      width: 130px;
    }
    &-image-1 {
      @include on-tablet {
        width: 186px;
        height: 186px;
      }

      @include on-desktop {
        width: 320px;
        height: 320px;
      }
    }
    &-image-2 {
      @include on-tablet {
        width: 392px;
        height: 186px;
      }

      @include on-desktop {
        width: 672px;
        height: 320px;
      }
    }
    &-info {
      color: $extraColor;
      font-weight: bold;
    }
  }

  &__button {
    background-color: $extraColor;
    color: $mainColor;
    width: 280px;
    height: 56px;
    border: none;

    @include on-tablet {
      width: 392px;
    }
    &:hover {
      background-color: #ae1c23;
      cursor: pointer;
    }
    &:active {
      background-color: #eb343d;
    }
  }
}
