@import 'mixins';
@import 'vars';

.header {
  box-sizing: border-box;
  padding: 25px 20px;
  height: 110vh;
  background-image: url(../imgs/image-bg-phone.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    background-image: url(../imgs/img.png);
  }

  &__title {
    color: $mainColor;
    text-align: center;
    justify-self: center;
    margin-bottom: 412px;
    font-weight: 700;
    line-height: 100%;
    font-size: 60px;
    letter-spacing: -1.5px;
    width: 280px;

    @include on-tablet {
      width: 392px;
      line-height: 64px;
      font-size: 64px;
      margin-bottom: 700px;
    }

    @include on-desktop {
      width: 498px;
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 900px;
    }
  }
}
