@import 'vars';

.icon {
  height: 24px;
  width: 24px;
  display: block;
  &--phone {
    position: relative;
    background-image: url(../imgs/Icon-Phone-call.png);
    &__text {
      width: 210px;
      position: absolute;

      right: 60%;
      top: -55%;
      color: $mainColor;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
    }
    &:hover {
      .icon--phone__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &--menu {
    background-image: url(../imgs/Icon-Burger-menu.png);
  }
  &--close {
    background-image: url(../imgs/Icon-Close.png);
    height: 24px;
    width: 24px;
  }
}
