@import 'vars';
@import 'mixins';

.main {
  @include content-padding-inline;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  & > * {
    grid-column: 1 / -1;
    color: $secondaryColor;
  }
}
